$primary: #222A5C;
$overlay-1: rgba(0, 0, 0, 0.5);
$secondary: #7D3AFF;
$basic-white: #ffffff;
$input-text-color: #7B7B7B;
$disabled-color: #B0AFAF;
$error-color: #E50E0E;
$valid-color: #5FED2E;
$primary-black: #000000;
$primary-grey: #3D3C3C;
