<nav class="nav-bar">
  <div class="flex flex-row items-center content-start justify-start">
    <a class="home-link" [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }"
       routerLinkActive="active">
      <img src="assets/images/logos/ascenda_logo.png" [routerLink]="['']" alt="Ascenda Logo">
    </a>
  </div>

  <mat-icon class="burger" [matMenuTriggerFor]="menu">menu</mat-icon>

  <ul>
    <li><a class="register" href="https://github.com/waynegakuo/ascenda-mini-project" target="_blank" rel="noopener noreferrer"
           class="nav_link">GitHub Repo</a><span class="isactive"></span></li>

    <mat-menu #menu="matMenu">
      <a mat-menu-item class="register" href="https://github.com/waynegakuo/ascenda-mini-project" target="_blank"
         rel="noopener noreferrer">GitHub Repo</a>
    </mat-menu>
  </ul>
</nav>
