<section class="py-5">
  <div class="flex justify-center content-center relative">
    <img src="assets/images/banners/landing_banner.png" />

    <div class="absolute landing-header-title w-auto text-center">
      <p class="font-bold text-5xl text-white">Enjoy Your Dream Vacation</p>

      <p class="font-normal text-xl text-white mt-4">
        No matter where you're going, we will take you there.
      </p>
    </div>
  </div>

  <div
    class="container mx-auto my-auto flex flex-col lg:flex-row justify-center content-center mt-8 items-center lg:items-start"
  >
    <section
      class="bg-[#F2FFFA] h-52 bottom-0 filter-menu-section left-36 rounded-2xl w-96"
    >
      <div class="flex flex-row ml-2.5 p-12">
        <form [formGroup]="currencyForm" class="w-full md:w-96">
          <div class="flex flex-col">
            <label class="font-semibold text-xl mb-2">Currency</label>
            <select
              (change)="onCurrencyOptionSelected($event)"
              class="form-control-dropdown form-control-select-arrow"
              formControlName="currency"
            >
              <option
                *ngFor="let currency of currencies"
                [value]="currency.value"
              >
                {{ currency.name }}
              </option>
            </select>
          </div>
        </form>
      </div>
    </section>

    <ng-container
      *ngIf="{ prices: prices$ | async, hotels: hotels$ | async } as priceHotel"
    >
      <section class="hotels-section">
        <ng-container
          *ngIf="priceHotel.hotels && priceHotel.prices; else loading"
        >
          <ng-container
            *ngIf="
              priceHotel.hotels.length > 0 && priceHotel.prices.length > 0;
              else noHotels
            "
          >
            <div class="flex flex-col flex-wrap justify-center">
              <ng-container
                *ngFor="let hotel of priceHotel.hotels; let i = index"
              >
                <app-hotel-card
                  [currencyValue]="currencyValue"
                  [hotel]="hotel"
                  [price]="priceHotel.prices[i]"
                  [symbol]="currencySymbol"
                ></app-hotel-card>
              </ng-container>
            </div>
          </ng-container>

          <ng-template #noHotels>
            <div
              class="flex flex-col flex-wrap content-center justify-center p-12 no-hotels-section"
            >
              <img
                class="w-1/2 self-center"
                src="assets/images/404/not_found.svg"
              />

              <p class="text-gray-500 font-bold text-xl text-center mt-8">
                Sorry, no hotel matching your search details
              </p>
            </div>
          </ng-template>
        </ng-container>
      </section>

      <ng-template #loading>
        <div class="flex flex-col flex-wrap justify-center">
          <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6]">
            <app-ghost-hotel-card></app-ghost-hotel-card>
          </ng-container>
        </div>
      </ng-template>
    </ng-container>
  </div>
</section>
