<div class="bg-[#F8F8F7] shadow-xl rounded-lg overflow-hidden w-96 m-2">
  <div class="bg-cover h-48 w-full card-img"
       [style.background]="'url('+hotel.photo+')'"
       [style.backgroundSize]="'cover'" [style.backgroundRepeat]="'no-repeat'">
  </div>
  <div class="flex flex-col pt-2 p-5">
    <div class="mt-3">
      <div class="font-bold text-xl">{{hotel.name}}</div>
      <div class="flex flex-col">
        <div class="flex flex-row text-gray-500">
          <span class="font-semibold mr-0.5">{{symbol}}</span>
          <p class="font-bold">{{price.id === hotel.id ? price.price : 0}}</p>
        </div>
        <p class="text-xs font-bold text-gray-400 mt-2">{{hotel.rating}}, No. of stars {{hotel.stars}}</p>
      </div>
      <div class="flex flex-row justify-between">
        <div class="flex items-center flex-row mt-2 text-gray-400 text-sm">


          <span class="text-xs font-bold">Competitor 1</span>
          <span class="mx-1">&#8226;</span>
          <span class="text-xs font-bold">Competitor 2</span>
        </div>
        <a class="text-lg text-center cursor-pointer bg-[#222A5C] rounded px-4 py-1 text-white font-semibold">View Hotel</a>
      </div>
    </div>
  </div>
</div>
