.hotel-card {
  width: 700px;
  //height: 200px;
}

.card-img {
  width: 226px;
  min-width: 226px;
}

.hotel-details {
  width: 324px;
  min-width: 324px;
}

.ellipsis-55 {
  max-width: 55px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis-300 {
  max-width:300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.info-tooltip {
  width: 12px;
}

.competitor-info-tooltip {
  width: 10px;
}

.invert-icon-to-blue-500 {
  filter: invert(47%) sepia(29%) saturate(6637%) hue-rotate(203deg) brightness(100%) contrast(93%);
}
