/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
  margin: 0;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FCFFFF;
}

/* Keyframes */
@keyframes shine {
  to {
    background-position: 100% 0;
  }
}
